body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0f172a;
  color: #e5e7eb;
}

header {
  background-color: #020617;
  padding: 40px;
  text-align: center;
}

section {
  padding: 40px;
  max-width: 900px;
  margin: auto;
}

h1, h2 {
  color: #38bdf8;
}

.project {
  background-color: #020617;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

a {
  color: #38bdf8;
  text-decoration: none;
}
